---
layout: home
title: Home
---
<div class="wrap mb-6">
    <section>
        <div class="container mt-2 mb-2">
            <div class="columns is-vcentered">
                <div class="column is-1">&nbsp;</div>
                <div class="column is-4 mt-4 is-offset-1-mobile">
                    <span class="logo">MHK</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-5 pt-0">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-1">&nbsp;</div>
                <div class="column is-4">
                    <div class=" animate__animated animate__fadeIn animate__delay-1s">
                        <img src="/public/images/mhk_2017_2.jpg" alt="Midhun Harikumar" class="is-horizontal-center profile-image2"/>
                    </div>
                    <div class="social pt-2">
                        <div id="profile" class="animate__animated animate__fadeIn animate__delay-2s animate__fast">
                            <span class="icon is-large"><a target="_blank" title="GitHub" href="https://github.com/midhunhk"><i class="fab fa-2x fa-github pr-2 has-text-black"></i></a></span>
                            <span class="icon is-large"><a target="_blank" title="StackOverflow" href="https://stackoverflow.com/users/592025/midhunhk"><i class="fab fa-2x fa-stack-overflow pr-2 has-text-black"></i></a></span>
                            <span class="icon is-large"><a target="_blank" title="Twitter" href="https://twitter.com/midhunhk"><i class="fab fa-2x fa-twitter pr-2 has-text-black"></i></a></span>
                            <span class="icon is-large"><a target="_blank" title="Instagram (photography)" href="https://www.instagram.com/midhunhk"><i class="fab fa-2x fa-instagram pr-2 has-text-black"></i></a></span>            
                        </div>
                    </div>
                </div>
                <div class="column is-5  is-8-mobile is-offset-4-mobile">
                    <p class="accent-text title is-family-secondary has-text-weight-bold is-size-2 animate__animated animate__fadeInRight">Midhun Harikumar</p>
                    <div class="animate__animated animate__fadeIn animate__delay-1s animate__fast">
                        <p class="pt-1 pb-4 has-text-weight-semibold subtitle">Full Stack Developer</p>
                        <p class="pr-6">
                            I am a software engineer with more than 12 years of professional experience in design and all aspects of software development.
                            I work on some open source projects and learn new technologies in my free time.
                        </p>
                        
                        <a class="is-success button mt-5" href="/blog">
                            <span class="mr-2">Blog</span>
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <a class="button is-outlined mt-5 ml-2" href="/about/">About</a>
                        
                        <!--
                        <div class="divider mt-5 mb-5">&nbsp;</div>
                        -->
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div> <!-- End wrap -->

<!-- Start Separator Section-->
<section class="section">
    <div class="has-text-centered">
        <svg width="100" height="100">
            <g>
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                </g>
            </g>
            <g>
                <rect stroke="#000" transform="rotate(45 51.48514556884767,50.66014099121092) " 
                height="40" width="40" y="20" x="20" fill-opacity="null" 
                stroke-opacity="null" stroke-width="0" fill="#1371DD"/>
            </g>
            </svg>
    </div>
</section>
<!-- End Separator Section -->

<section class="section pt-0 pb-0 accent-bg">
    <div class="container is-max-desktop pt-0">
        <div class="columns is-12 is-vcentered">
            <div class="column is-6">
                <h2 class="is-size-2 title is-family-secondary is-uppercase has-text-success">Skills</h2>
                <div class="tags pt-2 pr-2">
                    <span class="tag is-success is-medium">Java</span>
                    <span class="tag is-success is-medium">Kotlin</span>
                    <span class="tag is-success is-medium">Spring Framework</span>
                    <span class="tag is-success is-medium">Git</span>
                    <span class="tag is-success is-medium">Android</span>
                    <span class="tag is-success is-medium">JavaScript</span>
                    <span class="tag is-success is-medium">NodeJS</span>
                    <span class="tag is-success is-medium">ExpressJS</span>
                    <span class="tag is-success is-medium">Svelte</span>
                    <span class="tag is-success is-medium">React</span>
                    <span class="tag is-success is-medium">Vue.JS</span>
                    <span class="tag is-success is-medium">Web Services</span>
                    <span class="tag is-success is-medium">REST Api</span>
                    <span class="tag is-success is-medium">Micro Services</span>
                    <span class="tag is-success is-medium">Adobe XD</span>
                    <span class="tag is-success is-medium">Bulma</span>
                    <span class="tag is-success is-medium">Jira</span>
                    <span class="tag is-success is-medium">Confluence</span>
                    <span class="tag is-success is-medium">Firebase</span>
                    <span class="tag is-success is-medium">Google Cloud</span>
                    <span class="tag is-success is-medium">Oracle</span>
                    <span class="tag is-success is-medium">Sybase</span>
                    <span class="tag is-success is-medium">MongoDB</span>
                </div>
            </div>
            <div class="column is-6 pt-0 pb-0 skills">
                <div class="animate__anima pl-6ted animate__fadeIn animate__delay-2s animate__fast px-5 pt-5">
                    <p class="title is-5 mb-1 has-text-weight-bold">UI/UX Design</p>
                    <p class="content">I have always been interested in User Interfaces and how they can be used to create great user experiences.</p>
                </div>

                <div class="animate__animated animate__fadeIn animate__delay-3s animate__fast px-5">
                    <p class="title is-5 has-text-weight-bold">Web & Mobile</p>
                    <p class="content">Well experienced in Native Android development and modern web technologies like Spring Boot, NodeJS, React, Svelte.</p>
                </div>

                <div class="animate__animated animate__fadeIn animate__delay-4s animate__fast px-5 pb-5">
                    <p class="title is-5 mt-1 mb-1 has-text-weight-bold">Software Development</p>
                    <p class="content">I am an Engineer with a Bachelor's degree in Computer Science. I have strong programming skills with Java, Kotlin and Javascipt, with foundation in C and C++.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="is-size-2 title is-family-secondary is-uppercase">Blog Posts</h2>
        
        <div id="items" class="columns ">
            {% for post in site.posts limit:3 %}
                <div class="column is-one-third">
                    <div class="card is-shadowless animate__fadeIn animate__delay-2s animate__fast">
                        <div class="card-image">
                            {% if post.featured %}
                                <a href="{{ post.url }}">
                                    <img src="{{ post.featured }}" alt="featured image"/>
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="mb-1 p-0 block is-size-5">{{ post.date | date_to_string }}</p>
                                <a href="{{ post.url }}" class="mt-2 mb-2">
                                    <h2 class="title is-4 mb-2">{{ post.title }}</h2>
                                </a>
                                <p>
                                    {% if post.summary %}
                                        {{ post.summary }}
                                    {% else %}
                                        {{ post.excerpt | strip_html | truncatewords:20 }}
                                    {% endif %}
                                </p>
                                <p>
                                    <a class='button is-success' href="{{ post.url }}">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section has-background-link">

    <div class="social has-text-centered animate__animated animate__fadeIn animate__delay-2s animate__fast">
        <h2 class="title is-2 is-family-secondary is-uppercase mb-4 has-text-black-bis">Contact Me</h2>
        
        <div class="py-2">
            <div class="columns is-centered">
                <div class="column is-4 has-text-left">
                    <div class="box has-background-link-dark">    
                        <form class="form" action="https://formspree.io/f/xoqynlgy" method="POST">
                            <input type="hidden" name="_subject" value="Contact request from personal website" />

                            <div class="field">
                                <label class="label has-text-white-ter" for="_replyto">Your Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" name="_replyto" placeholder="Email input" value="hello@">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label has-text-white-ter">Message</label>
                                <div class="control">
                                <textarea name="message" class="textarea" placeholder="Type your message" required></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-text-centered">
                                    <button type="submit" class="button is-success">Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="icon is-large"><a target="_blank" title="GitHub" href="https://github.com/midhunhk"><i class="fab fa-2x fa-github pr-2 has-text-black"></i></a></span>
            <span class="icon is-large"><a target="_blank" title="StackOverflow" href="https://stackoverflow.com/users/592025/midhunhk"><i class="fab fa-2x fa-stack-overflow pr-2 has-text-black"></i></a></span>
            <span class="icon is-large"><a target="_blank" title="Play Store" href="https://play.google.com/store/apps/dev?id=6177347481993841752&hl=en_US"><i class="fab fa-google-play fa-2x pr-2 has-text-black"></i></a></span>
            <span class="icon is-large"><a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/midhunhk/"><i class="fab fa-2x fa-linkedin pr-2 has-text-black"></i></a></span>
            <span class="icon is-large"><a target="_blank" title="Twitter" href="https://twitter.com/midhunhk"><i class="fab fa-2x fa-twitter pr-2 has-text-black"></i></a></span>
            <span class="icon is-large"><a target="_blank" title="Instagram (photography)" href="https://www.instagram.com/midhunhk"><i class="fab fa-2x fa-instagram pr-2 has-text-black"></i></a></span>            
        </div>
    </div>

</section>
