<!-- ad ins from advertisements include -->
<!--
     <script cookie-consent="targeting" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8380411311279528"
     crossorigin="anonymous"></script>
-->

<!--
<script cookie-consent="targeting" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8380411311279528"
     crossorigin="anonymous"></script>
-->

<!-- midhunhk_footer-1_AdSense3_728x90_as -->
<!--
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8380411311279528"
     data-ad-slot="9219267252"></ins>
<script type="text/plain" cookie-consent="targeting">
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->