<section class="section has-background-link-dark has-text-white-ter">
    <div class="container">
        <p class="is-size-5">
            <a href="https://www.midhunhk.com/" class="has-text-success">Home</a> 
            | <a href="https://ae-app-labs.github.io/privacy-policy/midhunhk-blog" target="_blank" class="has-text-success">Privacy Policy</a> 
            | <a href="#" id="open_preferences_center" class="has-text-success">Cookie Preferences</a>
        </p>
        <p class="is-size-6">
            &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> 
            Midhun Harikumar. All Rights Reserved.
        </p>
    </div>
</section>