/*

*/
.orange{
	background-color: #ff9900;
}
.post-header{
	height: 150px;
	text-align: center;
}
.post-title{
	padding-top: 60px;
	vertical-align: middle;
	font-family: 'Merriweather', serif;
	font-size: 1.8rem;
	color: #ffffff;
}
