/*

*/
.post-header{
	height: 150px;
	text-align: center;
}
.post-title{
	padding-top: 60px;
	vertical-align: middle;
	font-family: 'Merriweather', serif;
	font-size: 1.8rem;
	color: #ffffff;
}

/* Colorful backgrounds */

.orange{
	background-color: #ff9900;
}
.violet{
	background-color: rgba(123, 31, 162, 1);
}
.teal{
	background-color: #028482;
}
.mexican-red{
	background-color: #A31E39;	
}
.midnight-blue{
	background-color: #003366;	
}
.rocket-red{
	background-color: #FB3745;	
}
