// Import Main CSS file from theme
@import "../../_sass/main";

p{
    padding: 0.8em 0;
}

ul{
    list-style: disc;
    li{
        margin-left: 1.2em;
    }
}

ol{
    li{
        margin-left: 1.2em;
        padding-left: 0.8em;
    }
}

h2{
    font-size: 1.4rem;
    font-weight: bold;
}

table, th, td{
    border: 1px solid #999;
    tr{
        th, td{
            padding: 0.4em;
        }
    }
}

tbody{
    tr:nth-child(odd) {background-color: #93c5fd;}
}