@charset "utf-8";

$brand-blue: #1371DD;
$brand-yellow: #ccff00;
$brand-green: #00d1b2;
$page-background: #f6f6f6;
$gap:56px;

@use "bulma/sass" with (

  $family-sans-serif: '"Noto Sans Display", sans-serif',
  $family-secondary: 'Merriweather',
  $body-font-size: 1.4em,
  $body-line-height: 1.4,

  $background: $page-background,
  $primary: $brand-blue,
  $success: $brand-yellow,
  $warning: $brand-green,

  $modal-content-width: 800px,
  $widescreen-enabled: true,
  $fullhd-enabled: true,
  $gap:56px,

  // Font Sizes
  $size-1: 4rem,
  $size-2: 3.5rem,
  $size-3: 3rem,
  $size-4: 2.5rem,
  $size-5: 1.25rem,
  $size-6: 1rem,
  $size-7: 0.75rem,

  $tabs-link-active-color: $brand-blue,
  $tabs-link-active-border-bottom-color: $brand-blue,
);

@use "syntax";
// @use "../node_modules/bulma-block-list/src/block-list.scss";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Sans+Display:wght@400&display=swap');


body{
  background: $page-background;
}