/*
 * Custom styles for the site.
 * @author: Midhunhk
 */

/* custom classes*/
.custom-post-header{ height: 200px; margin: 10px 0; border-radius: 5px; text-align: center;}
.custom-post-title{ padding-top: 80px; vertical-align: middle; font-family: 'Merriweather', serif; font-size: 1.8rem; color: #ffffff;}
.featured{ margin: 10px 0;}
.blog-article-content{margin-top: -4em; border-radius: 1em; box-shadow: 2px 2px 10px 1px rgba(77, 77, 77, .1);}
.post-tag{ margin-bottom: 1em; }
.post-title{ color: #1371DD; font-size: 1.9rem !important; font-weight:bold; line-height: 1.3 !important;}
.post-date{ display: inline;}
.post-content img{ margin: 1em auto; }
.post-content div div.is-8 p:first-child img{ margin-top: 0px !important;}
.is-serif-font{font-family: 'Merriweather'}
/* Some Colorful backgrounds for the header*/
.orange{background-color: #ff9900;}
.violet{background-color: rgba(123, 31, 162, 1); }
.teal{ background-color: #028482;}
.mexican-red{ background-color: #A31E39; }
.midnight-blue{background-color: #003366; }
.rocket-red{ background-color: #FB3745; }
.gulf-stream{background-color: #75b5aa; }
.caribbean-green{ background-color: #02CCA4;}

/* Share Bar */
#share-bar {font-size: 20px;}

/* Title */
#share-bar h4 { margin-bottom: 10px;font-weight: 500; }

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {opacity: 1;color: #ffffff;}

/* Facebook button */
.fa-facebook-official {color: #3b5998;}
.fa-facebook-official:hover {background-color: #3b5998;}

/* Twitter button */
/*
.fa-twitter {color: #55acee;}
.fa-twitter:hover {background-color: #55acee;}
*/

/* Pinterest button */
.fa-pinterest-p {color: #cb2027;}
.fa-pinterest-p:hover {background-color: #cb2027;}

/* Tumblr button */
.fa-tumblr {color: #32506d;}
.fa-tumblr:hover {background-color: #32506d;}

/* Reddit button */
.fa-reddit-alien {color: #ff4500;}
.fa-reddit-alien:hover {background-color: #ff4500;}

/* LinkedIn button */
/*
.fa-linkedin { color: #007bb5;}
.fa-linkedin:hover {background-color: #007bb5;}
*/
/* Email button */
.fa-envelope {color: #444444;}
.fa-envelope:hover { background-color: #444444;}

.divider {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #7a7a7a;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 25px 0;
}

p em {
    display: block-inline;
    font-size: .8em;
    background-color: #eaeaea;
    padding: .5em;
    border-radius: .5em;
}

iframe{
    width: 93vw;
    height: calc(93vw/1.77);
}

@media (min-width: 768px) {
    iframe{
        width: 60vw;
        height: calc(60vw/1.77);
    }
}

.custom-shape-divider-top-1633316398 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1633316398 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1633316398 .shape-fill {
    fill: #0057b7;
}

@media only screen and (max-width: 768px) {
    .home-hero{
        background-color: #1371DD;
        /* background-color: #0057b7; */
    }
}
@media only screen and (min-width: 768px) {
    .home-hero{
        /* alt 2nd color #b5db1e */
        background: linear-gradient(90deg, #1371DD 67%, #ccff00 33%);
        /* background: linear-gradient(180deg, #0057b7 50%, #ffd700 50%); */
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1633316398 svg {
        width: calc(100% + 1.3px);
        height: 84px;
    }
}

.animate-vertical-move {
    animation: animVertical 10s linear infinite;
    position: absolute;
    top: 0;
}

@keyframes animVertical {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

.animate-spin{
    animation: animSpin 5s linear infinite;
}

@keyframes animSpin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.animate-grow {
    display: inline-block;
    overflow: hidden;
}

.animate-grow img {
    display: block;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
}