---
layout: default
title: Blog - Random Thoughts
hero_height: is-small
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="content is-shadowless">

    <div class="columns m-0 p-0">
      <!-- left column with banner image -->
      <div class="column is-5">
        <a href="{{ post.url }}">
          <figure class="image">
          {% if post.featured %}
            <img src="{{ post.featured }}" alt="{{ post.featured_alt_text | featured}}"/>
            {% else %}
            <img src="/public/images/site/bg/default_banner.png" alt="default banner">
            {% endif %}
          </figure>
        </a>
      </div>

      <!-- Right column with title, date and excerpt -->
      <div class="column is-7">
        <h1 class="post-title is-family-secondary pt-4 mb-0">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="author p-0">
          <span class="icon">
            <i class="fa fa-calendar is-size-6"></i>
          </span>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date is-size-6">{{ post.date | date_to_string }}</time>
        </p>

        <article style="line-height:1.5em;">
          {% if post.summary %}
            <!-- Use the summary if it exists -->
            {{ post.summary }}
            {% include post_read_more.html %}
          {% else %}
            {% if post.content contains "<!-- more -->" %}
              <!-- For a long post, only show the excerpt -->
              {{ post.content | split:"<!-- more -->" | first }}
              {% include post_read_more.html %}
            {% else %}
              <!-- Short post without an excerpt -->
              {{ post.content }}
            {% endif %}
          {% endif %}
        </article>
      </div>
    </div>

    <div class="is-divider" data-content="&middot;"></div>
  </div>
{% endfor %}

{% include pagination.html %}
