---
layout: default
title: Blog
featured: /public/images/site/bg/banner_2.jpg
featured_hero: true
subtitle: Random Thoughts!
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="content">

    {% if post.featured %}
      <a href="{{ post.url }}">
        <figure class="image">
          <img src="{{ post.featured }}" alt="featured"/>
        </figure>
      </a>
    {% endif %}

    <div class="columns m-0 py-2">
      <div class="column is-4 box is-shadowless p-5">
        <h1 class="post-title is-family-secondary">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="author">
          <span class="icon">
            <i class="fa fa-calendar"></i>
          </span>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
        </p>
      </div>
      <div class="column is-8">
        <article>
          {% if post.summary %}
            <!-- Use the summary if it exists -->
            {{ post.summary }}
            {% include post_read_more.html %}
          {% else %}
            {% if post.content contains "<!-- more -->" %}
              <!-- For a long post, only show the excerpt -->
              {{ post.content | split:"<!-- more -->" | first }}
              {% include post_read_more.html %}
            {% else %}
              <!-- Short post without an excerpt -->
              {{ post.content }}
            {% endif %}
          {% endif %}
        </article>
      </div>
    </div>

    <div class="is-divider" data-content="&middot;"></div>
  </div>
{% endfor %}

{% include pagination.html %}