---
layout: default
title: Blog
featured: /public/images/banner.png
featured_hero: true
subtitle: Random Thoughts!
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1 class="post-title is-family-secondary"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
  </p>
  <div class="content">

    {% if post.featured %}
      <img src="{{ post.featured }}" alt="featured" />
    {% endif %}

    <div>
      {% if post.summary %}
        <!-- Use the summary if it exists -->
        {{ post.summary }}
      {% else %}
        {% if post.content contains "<!-- more -->" %}
          <!-- For a long post, only show the excerpt -->
          {{ post.content | split:"<!-- more -->" | first }}
          
          <div class="has-text-right mt-2 mb-2">
            <a class="button is-success" href="{{ post.url }}">
              <span>Read More</span>
              <span class="icon">
                <i class="fas fa-arrow-right"></i>
              </span>
            </a>
          </div>

        {% else %}
          <!-- Short post without an excerpt -->
          {{ post.content }}
        {% endif %}
      {% endif %}
    </div>

    <div class="is-divider" data-content="&middot;"></div>
  </div>
{% endfor %}

{% include pagination.html %}