<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>
    {% include main_navigation.html %}

    {% unless page.hide_hero %}
        {% include hero.html %}
    {% endunless %}

    <section class="section">
      <div class="container">
        <div class="columns">

            <div class="column is-12">
              <div class="post-content">
                {{ content }}
              </div>
            </div>

        </div>
      </div>
    </section>

    {% include footer.html %}
    {% include analytics.html %} 
  </body>
</html>
