---
layout: default
---

<div class="columns">
  <div class="column is-4">
    <p>
        <span class="has-text-weight-bold">Published : </span> 
        {{ page.date | date: "%b %-d, %Y" }}
    </p>
    <div class="tags mt-4">
      {% for tag in page.tags %}
        {% include tag.html tag=tag %}
      {% endfor %}
    </div>
    {% include share-bar.html %}
  </div>

  <div class="column is-8">
     {{ content }}
  </div>
</div>

{% include advertisements.html %}

{% if page.comments %}
	{% include comments.html %}
{% endif %} 
