---
layout: default
---

<div class="columns">
  <div class="column is-4">
    <p>
        <span class="has-text-weight-bold is-uppercase">Published</span> 
        {{ page.date | date: "%b %-d, %Y" }}
    </p>
    <div class="tags mt-4">
      {% for tag in page.tags %}
        {% include tag.html tag=tag %}
      {% endfor %}
    </div>
    {% include social_share.html %}
    <div class="mt-4">
      <p class="has-text-weight-bold is-uppercase">Recent Posts</p> 
      {% assign posts = site.posts | where_exp:"post","post.url != page.url" %}
      <ul>
        {% for post in posts limit:3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="column is-8">
     {{ content }}
  </div>
</div>

{% include cookie_consent.html %}

{% if page.comments %}
	{% include comments.html %}
{% endif %} 
